{
   "configurations":[
      {
         "kerberos-env":{
            "properties_attributes":{

            },
            "properties":{
              "realm":"{{ realm_name }}",
              "kdc_type":"mit-kdc",
              "kdc_hosts":"{{ groups['kdc_server'][0] }}",
              "admin_server_host":"{{ groups['kdc_server'][0] }}"
            }
         }
      },
      {
         "krb5-conf":{
            "properties_attributes":{

            },
            "properties":{
               "domains":"FIELD.HORTONWORKS.COM",
               "manage_krb5_conf":"true"
            }
         }
      },
      {
         "core-site":{
            "properties":{
               "fs.defaultFS":"hdfs://{{ cluster_name }}",
               "ha.zookeeper.quorum":"%HOSTGROUP::host_group_master%:2181,%HOSTGROUP::host_group_slave%:2181"
            }
         }
      },
      {
         "hdfs-site":{
            "properties":{
               "dfs.client.failover.proxy.provider.{{ cluster_name }}":"org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
               "dfs.ha.automatic-failover.enabled":"true",
               "dfs.ha.fencing.methods":"shell(/bin/true)",
               "dfs.ha.namenodes.{{ cluster_name }}":"nn1,nn2",
               "dfs.namenode.http-address":"%HOSTGROUP::host_group_master%:50070",
               "dfs.namenode.http-address.{{ cluster_name }}.nn1":"%HOSTGROUP::host_group_master%:50070",
               "dfs.namenode.http-address.{{ cluster_name }}.nn2":"%HOSTGROUP::host_group_slave%:50070",
               "dfs.namenode.https-address":"%HOSTGROUP::host_group_master%:50470",
               "dfs.namenode.https-address.{{ cluster_name }}.nn1":"%HOSTGROUP::host_group_master%:50470",
               "dfs.namenode.https-address.{{ cluster_name }}.nn2":"%HOSTGROUP::host_group_slave%:50470",
               "dfs.namenode.rpc-address.{{ cluster_name }}.nn1":"%HOSTGROUP::host_group_master%:8020",
               "dfs.namenode.rpc-address.{{ cluster_name }}.nn2":"%HOSTGROUP::host_group_slave%:8020",
               "dfs.namenode.shared.edits.dir":"qjournal://%HOSTGROUP::host_group_master%:8485;%HOSTGROUP::host_group_slave%:8485/{{ cluster_name }}",
               "dfs.nameservices":"{{ cluster_name }}"
            }
         }
      }
   ],
   "host_groups":[
      {
         "name":"host_group_master",
         "configurations":[

         ],
         "components":[
            {
               "name":"ZOOKEEPER_SERVER"
            },
            {
               "name":"HISTORYSERVER"
            },
            {
               "name":"ZOOKEEPER_CLIENT"
            },
            {
               "name":"NAMENODE"
            },
            {
               "name":"HDFS_CLIENT"
            },
            {
               "name":"YARN_CLIENT"
            },
            {
               "name":"RESOURCEMANAGER"
            },
            {
               "name":"METRICS_MONITOR"
            },
            {
               "name":"MAPREDUCE2_CLIENT"
            },
            {
               "name":"HIVE_SERVER"
            },
            {
               "name":"HIVE_METASTORE"
            },
            {
               "name":"WEBHCAT_SERVER"
            },
            {
               "name":"ZKFC"
            },
            {
               "name":"KERBEROS_CLIENT"
            },
            {
               "name":"MYSQL_SERVER"
            },
            {
               "name":"NODEMANAGER"
            },
            {
               "name":"DATANODE"
            }
         ],
         "cardinality":"1"
      },
      {
         "name":"host_group_slave",
         "configurations":[

         ],
         "components":[
            {
               "name":"NODEMANAGER"
            },
            {
               "name":"APP_TIMELINE_SERVER"
            },
            {
               "name":"METRICS_MONITOR"
            },
            {
               "name":"METRICS_COLLECTOR"
            },
            {
               "name":"NAMENODE"
            },
            {
               "name":"DATANODE"
            },
            {
               "name":"HIVE_CLIENT"
            },
            {
               "name":"ZKFC"
            },
            {
               "name":"KERBEROS_CLIENT"
            },
            {
               "name":"JOURNALNODE"
            }
         ]
      }
   ],
   "Blueprints":{
      "security":{
         "type":"KERBEROS"
      },
      "blueprint_name":"two-node-hdp",
      "stack_name":"HDP",
      "stack_version":"2.6"
   }
}
