{
   "configurations":[
      {
         "kerberos-env":{
            "properties_attributes":{

            },
            "properties":{
              "realm":"{{ realm_name }}",
              "kdc_type":"mit-kdc",
              "kdc_hosts":"{{ groups['kdc_server'][0] }}",
              "admin_server_host":"{{ groups['kdc_server'][0] }}"
            }
         }
      },
      {
         "krb5-conf":{
            "properties_attributes":{

            },
            "properties":{
               "domains":"FIELD.HORTONWORKS.COM",
               "manage_krb5_conf":"true"
            }
         }
      }
   ],
   "host_groups":[
      {
         "name":"host_group_master",
         "configurations":[

         ],
         "components":[
            {
               "name":"ZOOKEEPER_SERVER"
            },
            {
               "name":"HISTORYSERVER"
            },
            {
               "name":"ZOOKEEPER_CLIENT"
            },
            {
               "name":"NAMENODE"
            },
            {
               "name":"HDFS_CLIENT"
            },
            {
               "name":"YARN_CLIENT"
            },
            {
               "name":"RESOURCEMANAGER"
            },
            {
               "name":"METRICS_MONITOR"
            },
            {
               "name":"MAPREDUCE2_CLIENT"
            },
            {
               "name":"HIVE_SERVER"
            },
            {
               "name":"HIVE_METASTORE"
            },
            {
               "name":"WEBHCAT_SERVER"
            },
            {
               "name":"KERBEROS_CLIENT"
            },
            {
               "name":"MYSQL_SERVER"
            }
         ],
         "cardinality":"1"
      },
      {
         "name":"host_group_slave",
         "configurations":[

         ],
         "components":[
            {
               "name":"NODEMANAGER"
            },
            {
               "name":"APP_TIMELINE_SERVER"
            },
            {
               "name":"METRICS_MONITOR"
            },
            {
               "name":"METRICS_COLLECTOR"
            },
            {
               "name":"SECONDARY_NAMENODE"
            },
            {
               "name":"DATANODE"
            },
            {
               "name":"HIVE_CLIENT"
            },
            {
               "name":"KERBEROS_CLIENT"
            }
         ]
      }
   ],
   "Blueprints":{
      "security":{
         "type":"KERBEROS"
      },
      "blueprint_name":"two-node-hdp",
      "stack_name":"HDP",
      "stack_version":"2.6"
   }
}
